<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- configure dependent bean class -->
	<bean id="sysDate" class="java.util.Date"/>
	
	<!-- configure target bean class -->
	<bean id="WishMsgGen" class="com.nt.comp.WishMessageGenerator" name="wmg1,wmg2">
			<constructor-arg name="date" ref="sysDate"/>
	</bean>
	
	<bean class="com.nt.comp.WishMessageGenerator">
			<constructor-arg name="date" ref="sysDate"/>
	</bean>
	
	<!-- set additional alias names -->
	<alias name="WishMsgGen" alias="msg1"/>
	<alias name="wmg1" alias="msg2"/>
	<alias name="wmg2" alias="msg3"/>
	<alias name="msg3" alias="msg4"/>
	<alias name="com.nt.comp.WishMessageGenerator" alias="msg5"/>
</beans>