<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="com.nt.beans.A" id="a1">
		<constructor-arg name="b" ref="b1"/>
	</bean>
	
	<bean class="com.nt.beans.B" id="b1">
		<constructor-arg name="a" ref="a1"/>
	</bean>

</beans>
