<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
	default-init-method="myInit" default-destroy-method="myDestroy">
	
	<!-- <bean id="voter" class="com.nt.beans.Voter" init-method="myInit" destroy-method="myDestroy" scope="singleton"> -->
	<!-- <bean id="voter" class="com.nt.beans.Voter" scope="prototype"> -->
	<bean id="voter" class="com.nt.beans.Voter" scope="singleton">
		<property name="name" value="Raja"/>
		<property name="age" value="22"/>
		<!-- <property name="age" value="240"/> -->
	</bean>
	
	<bean id="voter1" class="com.nt.beans.Voter" scope="singleton">
		<property name="name" value="Raju"/>
		<property name="age" value="24"/>
		<!-- <property name="age" value="240"/> -->
	</bean>

</beans>
